.nav-logo {
  font-family: $logo-font;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.1667;
  letter-spacing: 0.03em;
  color: $accent-color;
  transition: $transition;
  span {
    color: $primary-text-color;
  }
  &:hover,
  &:focus {
    transform: scale(1.03);
  }
  @media screen and (max-width: $desktop - 1) {
    margin-right: 80px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 26px;
    line-height: 1.19;
    margin-right: 85px;
  }
}
.header-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  @extend .container;

  min-height: 60px;
  @media screen and (max-width: $tablet - 1px) {
    justify-content: space-between;
  }
  @media screen and (min-width: $tablet) {
    min-height: 80px;
  }
}
.button-menu {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: $tablet) {
    display: none;
  }
  & .icon-close {
    display: none;
  }

  &.is-open .icon-close {
    display: block;
  }

  &.is-open .icon-menu {
    display: none;
  }
}
.menu-container {
  @media screen and (max-width: $tablet - 1px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 60px 0 60px 0;
    height: 393px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 4px 8px rgba(0, 0, 0, 0.04);
    background-color: $bg-color;
    border-top: 1px solid #ececec;
    &.is-open {
      display: block;
    }
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
  }
}
.page-nav {
  text-align: center;
  letter-spacing: 0.02em;
  color: $text-white-color;

  @media screen and (max-width: $tablet - 1) {
    font-size: 18px;
    line-height: 1.17;
  }

  @media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: 1.14;
  }
}

.nav-list {
  @media screen and (max-width: $tablet - 1) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
  }
  .item {
    @media screen and (max-width: $tablet - 1) {
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }

    @media screen and (min-width: $tablet) {
      &:not(:last-child) {
        margin-right: 50px;
      }
    }
  }

  .site-page {
    @media screen and (min-width: $tablet) {
      &:not(:last-child) {
        margin-right: 50px;
      }
    }
  }
  .link {
    transition: $transition;
    &:hover,
    &:focus {
      @extend %hover-color;
    }
  }
}

.current {
  position: relative;
  color: $accent-color;
  @media screen and (max-width: $tablet - 1) {
    padding-bottom: 8px;
  }

  @media screen and (min-width: $tablet) {
    padding-bottom: 32px;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $accent-color;
    width: 100%;
    height: 4px;
    border-radius: 2px;
  }
}

.nav-contacts {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  @media screen and (max-width: $tablet - 1) {
    font-size: 18px;
  }

  @media screen and (min-width: $tablet) {
    font-size: 12px;
    margin-left: 84px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    margin-left: 305px;
  }
  .link {
    display: flex;
    align-items: center;
    @media screen and (max-width: $tablet - 1) {
      justify-content: center;
    }
    color: $secondary-text-color;
    transition: $transition;
    &:hover,
    &:focus {
      @extend %hover-color;
      .icon {
        fill: $accent-color;
      }
    }
    .icon {
      fill: $secondary-text-color;
      margin-right: 10px;
      transition: $transition;
    }
  }
  .item {
    @media screen and (max-width: $tablet - 1) {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }

    @media screen and (min-width: $tablet) and (max-width: $desktop - 1) {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    @media screen and (min-width: $desktop) {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}
