html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.body {
  color: $primary-text-color;
  font-family: $main-font;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  margin: 0px;
  background-color: $bg-color;
}
h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.03em;
  margin: 0px;
}
.main-index h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  margin: 0px;
  padding-bottom: 50px;
}
.list-flex {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
ul {
  list-style: none;
  padding-left: 0;
}
h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: $primary-text-color;
}
%hover-color {
  color: $accent-color;
}
%visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
